.App {
  text-align: center;
}

.App-logo {
  margin-top: -620px;
  height: 25vmin;
  pointer-events: none;

}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
